* {
    box-sizing: border-box;
  }

  body{
    background-image: url(https://thumbs.dreamstime.com/b/purple-pink-soft-color-mixed-background-painting-art-pastel-abstract-colorful-art-wallpaper-purple-abstract-colorful-bright-color-117208129.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding: 15px;
    height:100%;
    weight:100%;
  }

  header {
	justify-content: space-evenly;
	display: flex;
	width: 90%;
	height: 10vh;
	align-items: center;
}

.nav-links{
	display: flex;
}

nav {
	flex:1;
}
nav {
	flex: 2;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
	
}

.nav-link {
	color: #6d6767;
	font-size: 22px;
	text-decoration: none;
}
.nav-link:hover{
	color:black;
	list-style: none;
}
.nav-link {
	color: #6d6767;
	font-size: 22px;
	text-decoration: none;
}

.nav-link:hover{
	color:blue;
}

.blink{
    height: 20px;
    padding: 15px;	
    text-align:center;
    line-height: 30px;
    font-size:20px;
    font-family: cursive;
    color:rgb(129, 90, 90);
    animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity:.5;}
100%{opacity:1;}
}


  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .checked {
    color: orange;
  }
  
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  footer{
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .footer-link:hover
   { 
    color:aqua;
   }



  
  
